scout.xcodeproj/project.xcworkspace/xcuserdata/matt.xcuserdatad/UserInterfaceState.xcuserstate
scout.xcodeproj/xcuserdata/matt.xcuserdatad/xcschemes/scout.xcscheme
scout.xcodeproj/xcuserdata/matt.xcuserdatad/xcschemes/xcschememanagement.plist
